addict
networkx==2.3
npyscreen==4.10.5
colorama >=0.4.3
termcolor_util >= 1.2.0, <2.0
PyYAML == 5.1.2
paramiko==2.6.0         # optional
click >= 7.0, <8.0
schedule==0.6.0
python-dateutil==2.8.1
yamldict >= 1.2.0, <2.0
Pebble==4.5.3
